.Button {
  appearance: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  white-space: nowrap;

  height: 36px;
  min-width: 120px;
  padding: 0px 20px;

  border-width: 0px;
  border-radius: 6px;
  outline: none;
  box-shadow:
    0 2px 4px 0 hsla(0, 0%, 0%, 0.1),
    0 0 8px 0 hsla(0, 0%, 0%, 0.16);

  transition:
    box-shadow 0.1s ease-in 0s,
    opacity 0.1s ease-in 0s,
    background-color 0.1s ease-in 0s,
    color 0.1s ease-in 0s;
}

.Button:hover,
.Button:active {
  box-shadow:
    0 2px 7px 0 hsla(0, 0%, 0%, 0.1),
    0 0 14px 0 hsla(0, 0%, 0%, 0.14);
}

.Button--primary:not(:disabled) {
  background-color: hsl(var(--primary-base));
  color: hsl(var(--text-main-base));
}

.Button--primary:not(:disabled):hover,
.Button--primary:not(:disabled):active {
  background-color: hsl(var(--primary-hover-base));
}

.Button--secondary:not(:disabled) {
  background-color: hsl(var(--border-color-base) / 0.05);
  color: hsl(var(--text-main-base));
  border: 1px solid hsl(var(--border-color-base) / 0.1);
}

.Button--secondary:not(:disabled):hover,
.Button--secondary:not(:disabled):active {
  background-color: hsl(var(--border-color-base) / 0.1);
  border-color: hsl(var(--border-color-base) / 0.2);
}

.Button--small {
  min-width: 90px;
  font-size: 14px;
  height: 30px;
  padding: 0 16px;
  border-radius: 4px;
}

.Button--rounded {
  border-radius: 12px;
}

.Button:disabled {
  background-color: hsl(var(--border-color-base) / 0.04);
  box-shadow: none;
  color: hsl(var(--text-muted-base) / 0.4);
  border: 1px solid hsl(var(--border-color-base) / 0.04);
  cursor: not-allowed;
  padding: 0 20px;
}

.Button.Button--small:disabled {
  padding: 0 16px;
}
