.AppHeader {
  width: 100%;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  background-color: hsl(var(--bg-dark-base));
  border-block-end: 1px solid hsl(var(--border-color-base) / 0.08);
  position: sticky;
  top: 0;
  z-index: 100;
}

.AppHeader__logo {
  background: linear-gradient(
    90deg,
    hsl(var(--primary-base)) 30%,
    hsl(var(--primary-hover-base))
  );
  color: transparent;
  background-clip: text;
}

.AppHeader__actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.AppHeader__github-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid hsl(var(--border-color-base) / 0.1);
  border-radius: 4px;
  color: hsl(var(--text-main-base));
  transition: all 0.2s ease;
  height: 30px;
  aspect-ratio: 1;
}

.AppHeader__github-link:hover {
  background: hsl(var(--border-color-base) / 0.1);
  color: hsl(var(--primary-base));
}

.AppMain {
  padding: 24px;
}

.AppPlayerContainer {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.AppPlayerContainer:not(:has(.AppEmptyState)) {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.AppEmptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background: hsl(var(--bg-card-base) / 0.6);
  border: 1px dashed hsl(var(--border-color-base) / 0.08);
  border-radius: 16px;
  gap: 16px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.AppEmptyState > h2 {
  font-size: 1.5rem;
  color: hsl(var(--text-main-base));
  margin: 0;
}

.AppEmptyState > p {
  color: hsl(var(--text-muted-base));
  margin: 0;
}

.AppEmptyState__import-btn {
  margin-top: 16px;
}
